<!-- Header (Topbar + Navbar) -->
<header class="cs-header">
  <head>
    <link rel="stylesheet" href="nav.component.css">
  </head>
  
    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <div class="navbar navbar-expand-lg navbar-light bg-light navbar-sticky" data-fixed-element>
      <div class="container px-0 px-xl-3">
        <a href="index.html" class="navbar-brand order-lg-1 mr-0 pr-lg-3 mr-lg-4">
          <img src="assets/img/ecommerce/nalyLogo.svg" alt="Naly Logo" width="130">
        </a>
        <!-- Search desktop -->

        
        <div class="input-group-overlay ml-4 d-lg-block d-none order-lg-3" style="max-width: 21rem;">
          <input class="form-control appended-form-control" type="text" placeholder="Buscar Productos..." id="producto">
          <div class="input-group-append-overlay">
            <span class="input-group-text">
              
              <a (click)="buscarProductos()" [routerLink]="['/productos']" routerLinkActive="active" class="cxi-search lead align-middle" aria-hidden="true"></a>
            </span>
          </div>
        </div>

        <!--
        <div class="input-group-overlay ml-4 d-lg-block d-none order-lg-3" style="max-width: 21rem;">
          <input class="form-control appended-form-control" type="text" placeholder="Buscar Productos...">
          <div class="input-group-append-overlay">
            <span class="input-group-text"><i class="cxi-search lead align-middle" aria-hidden="true" ></i></span>
          </div>
        </div>
        -->
        
        <!-- Toolbar -->
        <div class="d-flex align-items-center order-lg-3">
          <ul class="nav nav-tools flex-nowrap">
            
            <ng-container *ngIf="user_lc == undefined">
              <li class="nav-item d-lg-block d-none mb-0">
                <a [routerLink]="['/login']" routerLinkActive="active"  class="nav-tool">
                  <i class="cxi-profile nav-tool-icon" aria-hidden="true" ></i>
                  <span class="nav-tool-label">Iniciar sesión</span>
                </a>
              </li>
            </ng-container>

            <ng-container *ngIf="user_lc">
              <li class="nav-item d-lg-block d-none dropdown">
                <a class="nav-tool dropdown-toggle" toggle="dropdown" style="cursor: pointer;">
                  <i class="cxi-profile nav-tool-icon" aria-hidden="true" ></i>
                  <span class="nav-tool-label">{{user_lc.nombres}}</span>
                </a>
                <div class="dropdown-menu">
                  
                  <a [routerLink]="['/cuenta/perfil']" routerLinkActive="active"  class="dropdown-item">
                    <i class="cxi-profile me-2" aria-hidden="true" ></i>
                    Perfil
                    
                  </a>
                  <a href="#" class="dropdown-item">
                    <i class="ci-comment me-2" aria-hidden="true" ></i>
                    Messages
                    <span class="badge rounded-pill bg-success ms-2"></span>
                  </a>
                  <a (click)="logout()" class="dropdown-item" style="cursor: pointer;">
                    <i class="cxi-logout mr-2" aria-hidden="true" ></i>
                    Cerrar Sesión
                    <span class="badge rounded-pill bg-warning ms-2"></span>
                  </a>
                </div>
              </li>
            </ng-container>
           
            <li class="divider-vertical mb-0 d-lg-block d-none"></li>
            
            <li class="nav-item align-self-center mb-0" *ngIf="user_lc != undefined">
              <a style="cursor: pointer;" class="nav-tool pr-lg-0" (click)="op_modalcart()">
                <i class="cxi-cart nav-tool-icon" aria-hidden="true" ></i>
                <span class="badge badge-success align-middle mt-n1 ml-2 px-2 py-1 font-size-xs">{{carrito_arr.length}}</span>
              </a>
            </li>
            <li class="nav-item align-self-center mb-0" *ngIf="user_lc == undefined">
              <a style="cursor: pointer;" class="nav-tool pr-lg-0" (click)="op_modalcart()">
                <i class="cxi-cart nav-tool-icon" aria-hidden="true" ></i>
                <span class="badge badge-success align-middle mt-n1 ml-2 px-2 py-1 font-size-xs">{{carrito_logout.length}}</span>
              </a>
            </li>
            <li class="divider-vertical mb-0 d-lg-none d-block"></li>
            <li class="nav-item mb-0">
              <button class="navbar-toggler mt-n1 mr-n3" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
              </button>
            </li>
          </ul>
        </div>
        <!-- Navbar collapse -->
        <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse">
          <!-- Search mobile -->
          <div class="input-group-overlay form-group mb-0 d-lg-none d-block">
            <input type="text" class="form-control prepended-form-control rounded-0 border-0" placeholder="Buscar Productos...">
            <div class="input-group-prepend-overlay">
              <span class="input-group-text">
                <i class="cxi-search font-size-lg align-middle mt-n1" aria-hidden="true" ></i>
              </span>
            </div>
          </div>
          <!-- Menu -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a [routerLink]="['/productos']" routerLinkActive="active"  class="nav-link dropdown-toggle" data-toggle="dropdown">Tienda</a>
              <ul class="dropdown-menu">
                <li *ngFor="let item of config_global.categorias"><a [routerLink]="['/productos/categoria/',item.titulo.toLowerCase()]" routerLinkActive="router-link-active"  class="dropdown-item">
                  <i class="{{item.icono}}" aria-hidden="true"> &nbsp;</i>{{item.titulo}}</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>


  <div id="cart" class="cs-offcanvas cs-offcanvas-right" *ngIf="user_lc != undefined">
    
    <!-- Header -->
    <div class="cs-offcanvas-cap align-items-center border-bottom">
      <h2 class="h5 mb-0">Tienes {{carrito_arr.length}} producto(s):</h2>
      <button class="close mr-n1" type="button" data-dismiss="offcanvas" aria-label="Close" (click)="op_modalcart()">
        <span class="h3 font-weight-normal mb-0" aria-hidden="true" >×</span>
      </button>
    </div>

    <ng-container *ngIf="carrito_arr.length == 0">
      <form class="ps-form--404" action="404-page.html" method="get">
        <div class="col-12 text-center">
          <div class="ps-form__header">
              <img src="assets/img/carrito-de-compras.png" style="width: 220px !important; " alt="">
          </div>
          <h4 class="text-muted">¡Tu carrito esta vacio!</h4>
          <a [routerLink]="['/productos']" routerLinkActive="router-link-active"  style="text-decoration: underline;
          font-weight: 700;">Volver a la tienda</a>
        </div>
      </form>
    </ng-container>
  
   <!-- Body -->
   <div class="cs-offcanvas-body">
    <!-- Item -->
    <div class="media p-4 border-bottom mx-n4" *ngFor="let item of carrito_arr">
      <a  [routerLink]="['/productos/',item.producto.slug]" style="min-width: 80px;">
        <img [src]="url +'obtener_portada/'+item.producto.portada" width="80" alt="Product thumb">
      </a>
      <div class="media-body pl-3">
        <div class="d-flex justify-content-between">
          <div class="pr-2">
            <h3 class="font-size-sm mb-3">
              <a  [routerLink]="['/productos/',item.producto.slug]"  class="nav-link font-weight-bold">{{item.producto.titulo}}</a>
            </h3>
            <ul class="list-unstyled font-size-xs mt-n2 mb-2">
              <li class="mb-0"><span class="text-muted">{{item.producto.titulo_variedad}}: </span>{{item.variedad.valor}}</li>
            </ul>
            <div class="d-flex align-items-center">
              <input (keyup)="agregarStock(item, item.cantidad)" type="text" class="form-control form-control-sm bg-light mr-3" style="width: 4.5rem;" id="stock" value="{{item.cantidad}}" [(ngModel)]="item.cantidad">
                <div class="text-nowrap">
                  <span style="font-size: 1.2rem !important;" class="font-size-xs text-muted">S/.{{item.producto.precio}}</span>
                </div>
            </div>
          </div>
          <div class="nav-muted mr-n2">
            <a class="nav-link px-2 mt-n2" title="Quitar" style="cursor: pointer;" (click)="eliminar_item(item._id)">
              <i class="cxi-delete" aria-hidden="true" ></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
    <ng-container *ngIf="carrito_arr.length >=1">
   
      <!-- Footer -->
    <div class="cs-offcanvas-cap flex-column border-top">
      <div class="d-flex align-items-center justify-content-between mb-3 pb-1">
        <span class="text-muted mr-2">Subtotal:</span>
        <span class="h5 mb-0">S/.{{subtotal}}</span>
      </div>
      <a [routerLink]="['/carrito']" class="btn btn-primary btn-lg btn-block">
        <i class="cxi-credit-card font-size-lg mt-n1 mr-1" aria-hidden="true" ></i>
        Checkout
      </a>
    </div>
    </ng-container>
    
    
  </div>
  <div id="cart" class="cs-offcanvas cs-offcanvas-right" *ngIf="user_lc == undefined">
    
    <!-- Header -->
    <div class="cs-offcanvas-cap align-items-center border-bottom">
      <h2 class="h5 mb-0">Tienes {{carrito_logout.length}} producto(s):</h2>
      <button class="close mr-n1" type="button" data-dismiss="offcanvas" aria-label="Close" (click)="op_modalcart()">
        <span class="h3 font-weight-normal mb-0" aria-hidden="true" >×</span>
      </button>
    </div>

   
  <ng-container *ngIf="carrito_logout.length == 0">
    <form class="ps-form--404" action="404-page.html" method="get">
      <div class="col-12 text-center">
        <div class="ps-form__header">
            <img src="assets/img/carrito-de-compras.png" style="width: 220px !important; " alt="">
        </div>
        <h4 class="text-muted">¡Tu carrito esta vacio!</h4>
        <a [routerLink]="['/productos']" routerLinkActive="router-link-active"  style="text-decoration: underline;
        font-weight: 700;">Volver a la tienda</a>
      </div>
      </form>
</ng-container>

    
<!-- Body -->
<div class="cs-offcanvas-body">
  <!-- Item -->
  <div class="media p-4 border-bottom mx-n4" *ngFor="let item of carrito_logout">
    <a  [routerLink]="['/productos/',item.producto.slug]" style="min-width: 80px;">
      <img [src]="url +'obtener_portada/'+item.producto.portada" width="80" alt="Product thumb">
    </a>
    <div class="media-body pl-3">
      <div class="d-flex justify-content-between">
        <div class="pr-2">
          <h3 class="font-size-sm mb-3">
            <a  [routerLink]="['/productos/',item.producto.slug]" class="nav-link font-weight-bold">{{item.producto.titulo}}</a>
          </h3>
          <ul class="list-unstyled font-size-xs mt-n2 mb-2">
            <li class="mb-0">
              <span class="text-muted">{{item.producto.titulo_variedad}}: </span> {{item.variedad.variedad}}
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <input type="text" (keyup)="agregarStock(item, item.cantidad)" class="form-control form-control-sm bg-light mr-3" style="width: 4.5rem;" value="{{item.cantidad}}" [(ngModel)]="item.cantidad">
            <div class="text-nowrap">
                <span style="font-size: 1.2rem !important;" class="font-size-xs text-muted">S/.{{item.producto.precio}}</span>
              </div>
            </div>
          </div>
          <div class="nav-muted mr-n2">
            <a class="nav-link px-2 mt-n2" title="Quitar" style="cursor: pointer;" (click)="eliminar_item_guest(item)">
              <i class="cxi-delete" aria-hidden="true" ></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-container *ngIf="carrito_logout.length >=1">   
    <!-- Footer -->
    <div class="cs-offcanvas-cap flex-column border-top">
      <div class="d-flex align-items-center justify-content-between mb-3 pb-1">
        <span class="text-muted mr-2">Subtotal:</span>
        <span class="h5 mb-0">S/.{{subtotal}}</span>
      </div>
      <a [routerLink]="['/carrito']" class="btn btn-primary btn-lg btn-block">
        <i class="cxi-credit-card font-size-lg mt-n1 mr-1" aria-hidden="true" ></i>
        Checkout
      </a>
    </div>
  </ng-container>
  
</div>