<app-sidebar></app-sidebar>

<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Trabajadores</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">Este módulo lista todos los trabajadores de la tienda.</p>
    </div>
</div>

<form #updateForm='ngForm' (ngSubmit)="actualizar(updateForm)">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px;">Modificar trabajador</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Nombres</label>
                    <input class="form-control" type="text" placeholder="Nombres Completos" required name="nombres" [(ngModel)]="trabajador.nombres">
                </div>
                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Apellidos</label>
                    <input class="form-control" type="text" placeholder="Apellidos Completos" required name="apellidos" [(ngModel)]="trabajador.apellidos">
                </div>
                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Correo electrónico</label>
                    <input class="form-control" type="text" placeholder="Correo electrónico" required name="email" [(ngModel)]="trabajador.email">
                </div>
                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Teléfono</label>
                    <input class="form-control" type="text" placeholder="Telefono" required name="telefono" [(ngModel)]="trabajador.telefono">
                </div>
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Tipo de Documento</label>
                    <select name="tipoDocumento" required [(ngModel)]="trabajador.tipoDocumento" class="form-control custom-select" >
                        <option value="" selected disabled>Seleccionar</option>
                        <option value="dni">DNI</option>
                        <option value="carnetExtranjeria">Carnet de Extranjería</option>
                        <option value="pasaporte">Pasaporte</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Número de Documento</label>
                    <input type="text" required class="form-control" name="numeroDocumento" [(ngModel)]="trabajador.dni" placeholder="Número de Documento"/>
                </div>
                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Nueva contraseña</label>
                    <input type="password" required class="form-control" name="password" [(ngModel)]="newPassword" placeholder="Constraseña"/>
                </div>
                <div class="col-md-4 form-group">
                    <label for="validationCustom01" class="form-label">Roles</label>
                    <select  name="rol" [(ngModel)]="trabajador.rol" class="form-control custom-select" >
                        <option value="" selected disabled>seleccionar</option>
                        <ng-container *ngFor="let rol of roles">
                            <option value="{{rol.nombre}}" *ngIf="rol.nombre != userRol">{{ rol.nombre }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>            
        </div>
        <div class="card-footer">
            <button *ngIf="!load_btn" class="btn btn-primary mr-3" type="submit">Actualizar trabajador</button>
            <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
                Modificando...
            </button>
            <a [routerLink]="['/panel/trabajadores']" class="btn btn-warning">Regresar</a>
        </div>
    </div>  
</form>
