<app-nav></app-nav>

<main class="cs-page-wrapper">
  <!-- Breadcrumb -->
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']"><i class="cxi-home" aria-hidden="true"></i></a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">Mi Perfil</li>
      </ol>
    </div>
  </nav>

  <!-- Page container -->
  <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
    <div class="row pb-2 pb-lg-0">
      <!-- Account menu (sticky sidebar) -->
      <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
        <app-siderbar></app-siderbar>
      </aside>
      <div class="col align-item-center mb-4 pb-1 pb-sm-3">
        <div class="row justify-content-center">
          <h1 class="h1">Mi Cuenta</h1>
        </div>
        <div class="col ml-auto">
          <div
            class="row pb-2 pb-lg-0 justify-content-center align-item-center"
          >
            <!-- Content -->
            <form #actualizarForm="ngForm" (ngSubmit)="actualizar(actualizarForm)">
              <div class="row pb-3">
                <div class="col-sm-6">
                  <label for="validationCustom01" class="form-label">Tipo de Documento</label>
                  <select  name="tipoDocumento" required [(ngModel)]="cliente.tipoDocumento"   class="form-control custom-select" >
                    <option value="" selected disabled>Seleccionar</option>
                    <option value="dni">DNI</option>
                    <option value="carnetExtranjeria">
                      Carnet de Extranjería
                    </option>
                    <option value="pasaporte">Pasaporte</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <label for="validationCustom01" class="form-label">Número de Documento</label>
                  <ng-container *ngIf="cliente.tipoDocumento">
                    <input  type="text" class="form-control form-control-lg"  name="numeroDocumento" [(ngModel)]="cliente.numeroDocumento" placeholder="Número de Documento"/>
                  </ng-container>
                  <ng-container *ngIf="!cliente.tipoDocumento">
                    <input  readonly type="text" class="form-control form-control-lg"  name="numeroDocumento" [(ngModel)]="cliente.numeroDocumento" placeholder="Número de Documento"/>
                  </ng-container>
                </div>

                <div class="col-sm-6 form-group">
                  <label for="ac-fn">Nombres</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    name="nombres"
                    [(ngModel)]="cliente.nombres"
                    placeholder="nombres completos"
                    required
                  />
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-fn">Apellidos</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    name="apellidos"
                    [(ngModel)]="cliente.apellidos"
                    placeholder="apellidos completos"
                    required
                  />
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-email">Correo Electrónico</label>
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    name="email"
                    [(ngModel)]="cliente.email"
                    readonly
                    required
                  />
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-password">Nueva Contraseña</label>
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    autocomplete="new-password"
                    placeholder="Nueva Contraseña"
                    name="newPassword"
                    id="input_password"
                    [(ngModel)]="newPassword"
                  />
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-email">Teléfono</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    placeholder="Teléfono"
                    name="telefono"
                    [(ngModel)]="cliente.telefono"
                  />
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-email">Fecha de Nacimiento</label>
                  <input
                    type="date"
                    class="form-control form-control-lg"
                    name="f_nacimiento"
                    placeholder="Fecha de Nacimiento"
                    [(ngModel)]="cliente.f_nacimiento"
                  />
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-country">Genero</label>
                  <select
                    id="ac-country"
                    class="custom-select custom-select-lg"
                    name="genero"
                    [(ngModel)]="cliente.genero"
                  >
                    <option value="" disabled selected>Seleccionar</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-city">Pais</label>
                  <select
                    id="ac-city"
                    class="custom-select custom-select-lg"
                    name="pais"
                    [(ngModel)]="cliente.pais"
                  >
                    <option value="" disabled selected>Seleccionar</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Chile">Chile</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Perú">Perú</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-lg">
                &nbsp;Actualizar Perfil&nbsp;
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
