<app-nav></app-nav>

<main class="cs-page-wrapper">
  <section class="cs-carousel cs-controls-onhover">
      <div class="cs-carousel-inner" data-carousel-options=''>

        <!-- Slide 1 -->
        <div class="bg-size-cover py-xl-6" style="background-image: url(https://img.freepik.com/free-photo/tanned-positive-girl-with-dark-long-wavy-hair-earrings-plaid-pink-white-modern-clothes-smiling-isolated-wall_197531-23919.jpg?w=1380&t=st=1669077548~exp=1669078148~hmac=bf35883ccddee4f79e0789a60ce6d510fd8f087375e0fdcc447d57613dcb3d01);">
          <div class="container pt-5 pb-6">
            <div class="row pb-lg-6">
              <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                <h3 class="font-size-lg text-uppercase cs-from-top cs-delay-1">Nueva colección</h3>
                <h2 class="display-2 mb-lg-5 pb-3 cs-from-left">Primavera</h2>
                <div class="mb-4 cs-scale-up cs-delay-2">
                  <a [routerLink]="['/productos/categoria/moda']" class="btn btn-outline-primary btn-lg">Ver productos</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="bg-size-cover py-xl-6" style="background-image: url(https://img.freepik.com/free-photo/two-beautiful-blonde-women-beach_273443-2328.jpg?w=1380&t=st=1669077674~exp=1669078274~hmac=32cec92270f2c29c24262df8a6c822808427b1912d61664c96cf6391ae5b96e1);">
          <div class="container pt-5 pb-6">
            <div class="row pb-lg-6">
              <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                <h3 class="font-size-lg text-uppercase cs-from-top cs-delay-1">Nueva colección</h3>
                <h2 class="display-2 mb-lg-5 pb-3 cs-scale-down">Verano</h2>
                <div class="mb-4 cs-scale-down cs-delay-2">
                  <a [routerLink]="['/productos/categoria/moda']" class="btn btn-outline-primary btn-lg">Ver productos</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="bg-size-cover py-xl-6" style="background-image: url(https://img.freepik.com/free-photo/beautiful-woman-covering-eye-with-autumnal-leaves_329181-17150.jpg?w=1380&t=st=1669077702~exp=1669078302~hmac=ff2cfc1eccf28baf319339649780925b973ddaa47fde9065f36698dc21ddcc1f);">
          <div class="container pt-5 pb-6">
            <div class="row pb-lg-6">
              <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                <h3 class="font-size-lg text-uppercase cs-from-left cs-delay-1">Nueva colección</h3>
                <h2 class="display-2 mb-lg-5 pb-3 cs-from-left">Otoño</h2>
                <div class="mb-4 cs-scale-up cs-delay-2">
                  <a [routerLink]="['/productos/categoria/moda']" class="btn btn-outline-primary btn-lg">Ver productos</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="bg-size-cover py-xl-6" style="background-image: url(https://img.freepik.com/free-photo/medium-shot-smiley-woman-home_23-2149304900.jpg?w=1380&t=st=1669077741~exp=1669078341~hmac=225de13485eafa7c20d2942f04a0118a1267bbf9346eedd80989f8fcd1e03690);">
          <div class="container pt-5 pb-6">
            <div class="row pb-lg-6">
              <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                <h3 class="font-size-lg text-uppercase cs-from-top cs-delay-1">Nueva colección</h3>
                <h2 class="display-2 mb-lg-5 pb-3 cs-scale-down">Invierno</h2>
                <div class="mb-4 cs-scale-down cs-delay-2">
                  <a [routerLink]="['/productos/categoria/moda']" class="btn btn-outline-primary btn-lg">Ver productos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pager -->
      <div class="container position-relative">
        <div class="row mt-lg-n5">
          <div class="col-lg-7 col-md-8 col-sm-10 offset-lg-1 offset-xl-0">
            <div class="position-relative">
              <div id="pager" class="cs-pager cs-pager-inverse mb-xl-5 pb-5 pb-md-6">
                <button type="button" data-nav="0">01</button>
                <button type="button" data-nav="1">02</button>
                <button type="button" data-nav="2">03</button>
                <button type="button" data-nav="3">04</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="container pt-5 pt-lg-0">
      <div class="cs-carousel cs-nav-outside">
        <div class="cs-carousel-inner cs-carousel-inner-two" data-carousel-options=''>

        </div>
      </div>
  </section>


  <!-- New arrivals -->
  <section class="container-fluid px-xl-grid-gutter mt-5 mb-3 mb-sm-4 mt-md-0 mb-lg-5 py-5 py-lg-6">
      <div class="text-center mb-5 pb-2">
        <h2 class="h1">Nuevos productos</h2>
        <p class="font-size-lg text-muted mb-1">Echa un vistazo a nuestras últimas novedades para la próxima temporada</p>
        <a [routerLink]="['/productos']" class="font-size-lg">Ver la colección aquí</a>
      </div>

      <!-- Product carousel -->
      <div class="cs-carousel cs-nav-outside">
        <div class="cs-carousel-inner cs-carousel-inner-three" data-carousel-options='{

        }'>

          <!-- Item -->
          <div *ngFor="let item of new_productos">
            <div class="card card-product">
              <div class="card-product-img">
                <a [routerLink]="['/productos/', item.slug]" class="card-img-top">
                  <img [src]="url +'obtener_portada/'+item.portada" alt="Product image">
                </a>
                <div class="card-product-widgets-top">
                  <div class="star-rating">
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                    <i class="sr-star cxi-star-filled active"></i>
                  </div>
                </div>
                <div class="card-product-widgets-bottom">
                  <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
                </div>
              </div>
              <div class="card-body">
                <h3 class="card-product-title text-truncate mb-2">
                  <a [routerLink]="['/productos/', item.slug]" class="nav-link">{{item.titulo}}</a>
                </h3>
                <div class="d-flex align-items-center">
                  <span class="h5 d-inline-block mb-0">S/.{{item.precio}}</span>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
  </section>

   <!-- Trending products (carousel) -->
  <section class="py-5" style="background-color: #e5e8ed;">
      <div class="container my-lg-2 py-2 py-md-4">
        <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
          <h2 class="h1 mb-0">Productos mas vendidos</h2>
          <div class="tns-custom-controls cs-controls-inverse" id="custom-controls-trending" tabindex="0">
            <button type="button" data-controls="prev" tabindex="-1">
              <i class="cxi-arrow-left"></i>
            </button>
            <button type="button" data-controls="next" tabindex="-1">
              <i class="cxi-arrow-right"></i>
            </button>
          </div>
        </div>
        <div class="cs-carousel pb-2">
          <div class="cs-carousel-inner cs-carousel-inner-four" data-carousel-options='{

          }'>

            <!-- Item -->
            <div *ngFor="let item of mas_vendidos">
              <div class="card card-product mx-auto">
                <div class="card-product-img">
                  <a  [routerLink]="['/productos/', item.slug]" routerLinkActive="router-link-active"  class="card-img-top">
                    <img [src]="url +'obtener_portada/'+item.portada" alt="Product image">
                  </a>
                  <div class="card-product-widgets-top">
                    <div class="star-rating ml-auto">
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                    </div>
                  </div>
                  <div class="card-product-widgets-bottom">
                    <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
                  </div>
                </div>
                <div class="card-body bg-0 pb-2">
                  <h3 class="card-product-title text-truncate mb-2">
                    <a  class="nav-link">{{item.titulo}}</a>
                  </h3>
                  <div class="d-flex align-items-center">
                    <span class="h5 d-inline-block mb-0">S/.{{item.precio}}</span>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="text-center pt-4 pt-md-5">
          <a [routerLink]="['/productos']"class="btn btn-outline-primary btn-lg">Ver productos</a>
        </div>
      </div>
  </section>





  <!-- Services -->
  <section class="container pt-5 pb-2 pb-sm-5 py-md-5 py-lg-6 align-center">
      <div class="row py-3">
        <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
          <img class="mb-4" src="../../assets/img/ecommerce/home/services/delivery.svg" width="48" alt="Worldwide Shipping">
          <h5 class="h5 mb-2">Envío rápido</h5>
          <p class="mb-0 text-muted">Obtén envío gratis</p>
        </div>
        <span class="divider-vertical d-sm-block d-none"></span>
        <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
          <img class="mb-4" src="../../assets/img/ecommerce/home/services/support.svg" width="48" alt="Customer Support">
          <h5 class="h5 mb-2">Atención al cliente 24/7</h5>
          <p class="mb-0 text-muted">Atención al cliente amigable 24/7</p>
        </div>
        <span class="divider-vertical d-sm-block d-none"></span>
        <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
          <img class="mb-4" src="../../assets/img/ecommerce/home/services/payment.svg" width="48" alt="Customer Support">
          <h5 class="h5 mb-2">Pago seguro en línea</h5>
          <p class="mb-0 text-muted">Acepte todas las principales tarjetas de crédito</p>
        </div>
      </div>
  </section>


  <!-- Insagram -->
  <section class="pt-5 pb-4 pt-lg-6 pb-lg-5 border-top border-bottom">
      <div class="container pt-md-4 pb-2 pt-lg-0 pb-lg-0">
        <div class="row">
          <div class="col-md-4 text-center text-md-left pb-2 pb-md-0 mb-4 mb-md-0">
            <p class="text-dark text-uppercase mb-2">Siguenos en Instagram</p>
            <h2 class="h1 pb-2 pb-md-3">@eN CONSTRUCCION</h2>
            <a href="#" class="btn btn-outline-primary btn-lg">
              <i class="cxi-instagram font-size-lg mr-1"></i>
              Siguenos en Instagram
            </a>
          </div>
          <div class="col-md-8">
            <div class="cs-carousel cs-nav-outside">
              <div class="cs-carousel-inner cs-carousel-inner-six" data-carousel-options='{

              }'>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
