<app-nav></app-nav>

<main  class="cs-page-wrapper">
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
      <div class="container">
        <ol class="breadcrumb breadcrumb-alt mb-0">
          <li class="breadcrumb-item">
            <a href="index.html"><i class="cxi-home"  aria-hidden="true"></i></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
      </div>
  </nav>

  <section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
    <div class="row">
      <div class="col-lg-6">
          <div class="px-md-5">
            <h3 class="modal-title mt-4 mb-0 text-center">Iniciar Sesión</h3>
            <p class="font-size-sm text-muted text-center">Utilice su correo electrónico y contraseña que registró.</p>
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
              <div class="form-group">
                <label for="signin-email">Correo electrónico</label>
                <input type="email" class="form-control" placeholder="Correo electrónico" required="" name="email" [(ngModel)]="user.email">
              </div>
              <div class="form-group">
                <label for="signin-password" class="form-label">Contraseña</label>
                <input type="password" class="form-control appended-form-control" id="signin-password" placeholder="Tu contraseña" name="password" [(ngModel)]="user.password" required> 
              </div>
              <div class="d-flex justify-content-between align-items-center form-group">
                <a [routerLink]="['/recuperar_contrasenia/confirmacion/']" routerLinkActive="router-link-active"  class="font-size-sm text-decoration-none">¿Olvido su contraseña?</a>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
            </form>
          </div>
      </div>
      <div class="col-lg-6">
          <div class="px-md-5">
              <h3 class="modal-title mt-4 mb-0 text-center">Registro rápido</h3>
              <p class="font-size-sm text-muted text-center">Regístrese completando el formulario</p>
              <form #registroForm="ngForm" (ngSubmit)="registrar(registroForm)">
                  <div class="form-group">
                      <div class="row">
                          <div class="col-lg-6">
                              <label for="signin-email">Nombres completos</label>
                              <input type="email" class="form-control"  placeholder="Nombres" required name="nombres" [(ngModel)]="cliente.nombres">
                          </div>
                          <div class="col-lg-6">
                              <label for="signin-email">Apellidos completos</label>
                              <input type="email" class="form-control"  placeholder="Apellidos" required name="apellidos" [(ngModel)]="cliente.apellidos">
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="signin-email">Email</label>
                      <input type="email" class="form-control" placeholder="Correo Electrónico" required name="email" [(ngModel)]="cliente.email">
                  </div>
                  <div class="form-group">
                    <label for="signin-password" class="form-label">Password</label>
                    <div class="cs-password-toggle input-group-overlay">
                      <input type="password" class="form-control appended-form-control" id="signin-password" placeholder="Contraseña" required name="password" [(ngModel)]="cliente.password">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
              </form>
            </div>
      </div>
    </div>
  </section>
</main>