<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="estilos.css" />
    <title>Email de Compra</title>
  </head>
  <body>
    <div id="factura">
      <div>
        <table class="tabla-general">
          <caption></caption>
          <th id="presentacion" colspan = "2">
            
            <div id= "logo" style="color: #127c5f; font-size: 80px !important;">
              <strong>Naly</strong>
             </div>
                
            <tr>
              <td colspan = "2">¡Gracias por tu Compra!</td>
            </tr>
            <tr>
              <td colspan = "2">Hola <%= orden.cliente.nombres; %>, estamos preparando tu pedido. Te notificaremos cuando haya sido enviado.</td>
            </tr>
            <tr>
                <tr>
                <td >Número de Pedido</td>
                <td><a  style="color: #127c5f  !important;" href="http://localhost:4200/cuenta/pedidos/<%= orden._id; %>" > Ver mi Pedido</a></td>
            </tr>
                <td> <%= orden._id; %></td>
            
            </tr>
            <tr>
                <tr>
                <td>Cliente</td>
                <td><a  style="color: #127c5f  !important;" href="http://localhost:4200/" > Visitar Tienda Online</a></td>
            </tr>
                <td> <%= orden.cliente.nombres; %> <%= orden.cliente.apellidos; %></td>
                
            </tr>
            
            
          </th> 
          
        </table>
        <hr>
        
      </div>
      <div>
        <table class = "tabla-content">
            <caption></caption>
            <th id="compra" colspan = "3">
                  Información de la Compra
              <hr>
              <tr>
                  <tr>
                  <td>Producto</td>
                  <td>Cantidad</td>
                  <td>Precio</td>
                  </tr>
              </tr>
              <% for(var i=0; i < dventa.length; i++) { %>
              <tr>
                  <tr>
                  <td><%= dventa[i].producto.titulo%></td>
                  <td> <%= dventa[i].cantidad%></td>
                  <td> <%= dventa[i].subtotal %> <%= orden.currency%> </td>
                  </tr>
              </tr>
              <% } %>
                
              
            </th> 

        </table>

      </div>
      <div>
        <table class = "tabla-pagos">
            <caption></caption>
            <th id="pago" colspan = "5">
                  Información de Pago
              <hr>
              <tr>
                  <td>Método de Pago:</td>
                  <td>Subtotal:</td>
                  <td>Envio:</td>
                  <td>Descuento:</td>
                  <td>Total:</td>
                  
              </tr>
             
              <tr>
                  <tr>
                  <td> <%= orden.metodo_pago %> </td>
                  <td> <%= orden.subtotal %> <small style="font-size: 12px !important;"><%= orden.currency%></small></td>
                  <td>  <%= orden.envio_precio%> <small style="font-size: 12px !important;"><%= orden.currency%></small> </td>
                  <td> <%= orden.valor_descuento%> <small style="font-size: 12px !important;"><%= orden.currency%></small> </td>
                  <td> <%= (orden.total_pagar)%> <small style="font-size: 12px !important;"><%= orden.currency%></small></td>
                  </tr>
              </tr>
              <tr>
                <td colspan = "5">
                   <singleline>
                        <div style="color: #127c5f ;">
                         <strong>¿Sabes cómo mantenerte al tanto de todos los detalles de tus pedidos, direcciones y reseñas en cualquier momento?</strong>
                        </div>
                    </singleline>
                </td>
                <td colspan = "5">
                    <singleline>
                        <div style="color: #127c5f ;">
                            <strong>  Ingresa a <a href="http://localhost:4200/" target="_blank" rel="noopener">www.NalyTienda.com</a>, Iniciar sesión, dale click a "Mi cuenta" y listo.</strong>
                        </div>
                      </singleline>

                </td>
                <td colspan = "5">
                    <singleline>
                        <div  style="color: #127c5f";>
                          Si tienes alguna pregunta solo responde a este correo electrónico o contactanos a traves de <span style="color: #127c5f ;">nalyContacto@gmail.com</span>
                        </div>
                      </singleline>
                </td>
            </tr>
             
                
              
            </th> 

        </table>
      </div>
    </div>

    
  </body>
</html>
