
html *{
    font-family: Cambria, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

#id {
    align-items: center;
}
#logo{
    font-size: 30px;
}
table.tabla-general,table.tabla-general td, table.tabla-general th, table.tabla-general tr{
    text-align: center;
    width: auto;
    border: 1px solid;
    border-collapse:collapse;
    padding-left: 10px;
    padding-right: 10px;
 }

 table.tabla-pagos,table.tabla-pagos td, table.tabla-pagos th, table.tabla-pagos tr{
    text-align: center;
    width: auto;
    border: 1px solid;
    border-collapse:collapse;
    padding-left: 10px;
    padding-right: 10px;
 }
 hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 