<!-- Footer -->
<footer class="cs-footer pt-sm-5 pt-4 bg-dark">
  <div class="container pt-3">
    <div class="row pb-sm-2">
      <div class="col-6 col-sm-3 col-lg-2 mb-4">
        <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Ayuda</h3>
        <ul class="nav nav-light flex-column">
          <li class="nav-item mb-2">
            <a  class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Delivery</a>
          </li>
          <li class="nav-item mb-2">
            <a  class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Blog</a>
          </li>
          <li class="nav-item mb-2">
            <a  class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-sm-3 col-lg-2 col-xl-3 mb-4">
        <h3 class="h6 mb-2 pb-1 text-uppercase text-light pl-xl-6">Tienda</h3>
        <ul class="nav nav-light flex-column pl-xl-6">
          <li class="nav-item mb-2">
            <a  class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Novedades</a>
          </li>
          <li class="nav-item mb-2">
            <a  class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Populares</a>
          </li>
          <li class="nav-item mb-2">
            <a  class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Ventas</a>
          </li>
          <li class="nav-item mb-2">
            <a  class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Marcas</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4">
        <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Contáctanos</h3>
        <ul class="nav nav-light flex-column pb-3">
          <li class="nav-item text-nowrap mb-2">
            <span class="text-light mr-1">Teléfono:</span>
            <a  class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">966 351 229</a>
          </li>
          <li class="nav-item text-nowrap mb-2">
            <span class="text-light mr-1">Correo:</span>
            <a class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">NalyPedidos@gmail.com</a>
          </li>
        </ul>
        <a  class="social-btn sb-solid sb-light mr-2">
          <i class="cxi-facebook" aria-hidden="true" ></i>
        </a>
        <a  class="social-btn sb-solid sb-light mr-2">
          <i class="cxi-instagram" aria-hidden="true" ></i>
        </a>
        <a  class="social-btn sb-solid sb-light mr-2">
          <i class="cxi-twitter" aria-hidden="true" ></i>
        </a>
        <a  class="social-btn sb-solid sb-light mr-2">
          <i class="cxi-youtube" aria-hidden="true" ></i>
        </a>
        <a  class="social-btn sb-solid sb-light">
          <i class="cxi-pinterest" aria-hidden="true" ></i>
        </a>
      </div>
    </div>
  </div>
  <div class="border-top border-light">
    <div class="container py-4">
      <div class="font-size-xs text-light">
        <span class="font-size-sm">&copy; </span>
        Todos los derechos reservados. 
      </div>
    </div>
  </div>
</footer>
